body {
    font-family: "Baloo Bhai", cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url("img/man-g9d5f187b8_1920.jpg");
  }
  .left {
    /* border: 2px solid white; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
  }
  .left img {
    width: 60px;
    filter: invert(100%);
  }
  .left div {
    text-align: center;
    font-size: 10px;
  }
  .mid {
    /* border: 2px solid white; */
    display: block;
    width: 36%;
    margin: 15px auto;
  }
  .right {
    /* border: 2px solid white; */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 15px;
  }
  .navbar li {
    display: inline-block;
    font-size: 15px;
  }
  .navbar li a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
  }
  .navbar li a:hover,
  .navbar li a.active {
    text-decoration: underline;
    color: rgb(78, 223, 73);
  }
  .btn {
    font-family: "Baloo Bhai", cursive;
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: rgb(223, 0, 0);
    transition: 0.5s;
  }
  .container {
    border: 2px solid white;
    margin: 60px 60px;
    padding: 55px;
    width: 30%;
    border-radius: 22px;
  }
  .form-group input {
    font-family: "Baloo Bhai", cursive;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin: 5px auto;
    font-size: 18px;
    border-radius: 8px;
  }
  .container h1 {
    text-align: center;
  }
  .container button {
    display: block;
    width: 98%;
    margin: 15px auto;
  }